.header 
  .headLine.bg--black.color--white.font--center
      span.fs--14.font--normal.border--right.pr--15 100% Authenticity Guaranteed
      span.fs--14.font--normal.pl--15 Express Shipping & COD
  .logo.container--fluid
      img(src=require('src/images/logo.png') alt="Luxepolis")
      ul
        li
          i.searchIcon.fa.fa-magnifying-glass.color--orange 
          input.search(type='text' placeholder='What Are You Looking For')
        li.authenticity.font--medium.border--right
          a(href='#' target='_blank') Authenticity
        li.authenticity.font--medium.border--right
          a(href='#' target='_blank') Sell With Us
        li.helpIcons
          a(href='#' target='_blank')
            i.fa.fa-user
          a(href='#' target='_blank')
            i.fa.fa-heart
          a(href='#' target='_blank')
            i.fa.fa-bag-shopping
  .navHam
    nav.navbar
        ul.navOrder
          li.navList
            a.navAnchor.font--medium.fs--18(href='#' target='_blank') All Brands
          li.navList
            a.navAnchor.font--medium.fs--18(href='#' target='_blank') Le Prestige
          li.navList
            a.navAnchor.font--medium.fs--18(href='#' target='_blank') Women
          li.navList
            a.navAnchor.font--medium.fs--18(href='#' target='_blank') Men
          li.navList
            a.navAnchor.font--medium.fs--18(href='#' target='_blank') Watches
          li.navList
            a.navAnchor.font--medium.fs--18(href='#' target='_blank') Jewellery
          li.navList
            a.navAnchor.font--medium.fs--18(href='#' target='_blank') Runway
          li.navList
            a.navAnchor.font--medium.fs--18(href='#' target='_blank') Outlet
          li.navList
            a.navAnchor.font--medium.fs--18(href='#' target='_blank') Final Sale
          li.navList
            a.navAnchor.font--medium.fs--18(href='#' target='_blank') Atelier
    .hamburger.container--fluid
      span.ham.bg--dark
      span.ham.bg--dark
      span.ham.bg--dark