@font-face {
    font-family: 'Creato Display';
    src: url('../fonts/CreatoDisplay-Bold.eot');
    src: url('../fonts/CreatoDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CreatoDisplay-Bold.woff2') format('woff2'),
        url('../fonts/CreatoDisplay-Bold.woff') format('woff'),
        url('../fonts/CreatoDisplay-Bold.ttf') format('truetype'),
        url('../fonts/CreatoDisplay-Bold.svg#CreatoDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('../fonts/CreatoDisplay-Regular.eot');
    src: url('../fonts/CreatoDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CreatoDisplay-Regular.woff2') format('woff2'),
        url('../fonts/CreatoDisplay-Regular.woff') format('woff'),
        url('../fonts/CreatoDisplay-Regular.ttf') format('truetype'),
        url('../fonts/CreatoDisplay-Regular.svg#CreatoDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('../fonts/CreatoDisplay-Medium.eot');
    src: url('../fonts/CreatoDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CreatoDisplay-Medium.woff2') format('woff2'),
        url('../fonts/CreatoDisplay-Medium.woff') format('woff'),
        url('../fonts/CreatoDisplay-Medium.ttf') format('truetype'),
        url('../fonts/CreatoDisplay-Medium.svg#CreatoDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


