.header {
    border-bottom: 1px solid $disabled;
    line-height: 5;
    margin: 15px 0px;

    @media screen and (max-width: 1215px) {
        padding: 15px 0px;
      }
    &--main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px;
        .navbar1 {
            display: flex;

            li {
                padding-right: 50px;
                &:after {
                    content: '\f107';
                    font-family: FontAwesome;
                    font-weight: normal;
                    font-style: normal;
                    cursor: pointer;
                    
                }
                &:first-child::after {
                    content: none;
                }
                @media screen and (max-width: 1215px) {
                    &:first-child() {
                        display: none;
                    }
                }
            }
            @media screen and (max-width: 1215px) {
                display: none;
                position: fixed;
                top: 124px;
                z-index: 3;
                right: 15px;
                background-color: black;
                color: white;
                font-size: 34px;
                padding: 33px;
                line-height: 2;
                &.active {
                display: block;
                }
              }
        }

        .navbar2{
            display: flex;
            :first-child() {
                padding-right: 10px;
              }

              @media screen and (max-width: 1215px) {
                display: none;
              }
        }
        .hamburger {
            display: none;
            @media screen and (max-width: 1215px) {
                display: flex;
                flex-direction: column;
                width: 50px;
                
                .ham {
                    width: 39px;
                    height: 5px;
                    margin: 5px 0px;
                }
            }
        }
    }
}